$t1-font-size: 24px;
$t2-font-size: 22px;
$t3-font-size: 20px;
$t4-font-size: 18px;
$t5-font-size: 16px;
$t6-font-size: 14px;
$t7-font-size: 13px;
$t8-font-size: 12px;
$t9-font-size: 11px;

$t1-line-height: 36px;
$t2-line-height: 32px;
$t3-line-height: 32px;
$t4-line-height: 28px;
$t5-line-height: 24px;
$t6-line-height: 24px;
$t6-1-line-height: 20px;
$t7-line-height: 20px;
$t8-line-height: 18px;
$t9-line-height: 16px;

/* Primary */
$primary200: #006c41;
$primary100: #008751;

/* Secondary */
$secondaryYellow: #ffd406;
$secondaryRed: #e8112d;

/* greyscale */
$black: #000;
$greyscale900: #121619;
$greyscale800: #21272a;
$greyscale700: #343a3f;
$greyscale600: #565c63;
$greyscale500: #aab0b8;
$greyscale550: #6c747e;
$greyscale400: #c6cbd0;
$greyscale300: #dde1e4;
$greyscale250: #e1e6ec;
$greyscale200: #ebeef0;
$greyscale100: #f7f7f8;
$greyscale50: #fdfdfd;
$white: #fff;

$positiveBlue: #0471e9;
$negativeRed: #d61111;
